@model Maquillaje.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<h2 class="bg-gradient-warning text-center text-body">¡BIENVENIDO!</h2>
<div class="row justify-content-center m-5 ">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header py-2" style="background-color:rebeccapurple;">
                <h5 class="text-center text-white">Registro</h5>
            </div>
            <div class="card-body">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Cree una cuenta nueva.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <i class="fa fa-envelope icon"></i>
                @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    <i class="fa fa-key icon"></i>
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-outline-dark" value="Registrarse" />
                            <a class="btn btn-outline-danger" href="@Url.Action("Index","Home")">Cancelar</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

   @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
