<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/icono.png" />
    <title>@ViewBag.Title MAKE UP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-light bg-danger">
        <a class="navbar-brand text-white" href="@Url.Action("Index","Home")">Maquillaje</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Principal")">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("About", "Home")">Acerca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Contact", "Home")">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Manage")">Cambiar Password</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index", "Users")">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index", "Products")">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index", "Suppliers")">Proveedores</a>
                    </li>
                }


                @if (User.IsInRole("Client"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index","Client")">Mi Perfil</a>
                    </li>

                }

            </ul>


            <span class="navbar-text">
                @Html.Partial("_LoginPartial")
            </span>

        </div>
    </nav>
    @RenderBody()


    <div class="bg-danger">
        <section class="copyright bg-danger py-2 text-center text-white ">
            <p class="text-center"> Copyright&copy; @DateTime.Now.Year -Maquillaje- Proyecto Final 2020
            
                <a  class="float-right" href="https://www.facebook.com"><img src="~/Content/img/f.png" alt="facebook" width="30" height="30"></a>
                <a class="float-right" href="https://www.twitter.com"><img src="~/Content/img/t.png" alt="twitter" width="30" height="30"></a>
                <a class="float-right" href="https://www.web.whatsapp.com"><img src="~/Content/img/w.png" alt="whatsapp" width="30" height="30"></a>
                <a class="float-right" href="https://www.whatsapp.com"><img src="~/Content/img/i.png" alt="instagram" width="30" height="30"></a>
           </p>
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
