<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/icono.png" />
    <title> MAKE UP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 " style="background-color:maroon;" id="mainNav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Principal")">INICIO</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "MaquillajeOjos")">MAQUILLAJE PARA OJOS</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "MaquillajeLabios")">MAQUILLAJE PARA LABIOS</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "MaquillajeRostro")">MAQUILLAJE PARA ROSTRO</a>
                </li>
                @Html.Partial("_LoginPartial")

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link text-body" href="@Url.Action("Index", "Products")">PRODUCTOS</a>
                            <a class="nav-link text-body" href="@Url.Action("Index", "Suppliers")">PROVEEDORES</a>
                            <a class="nav-link text-body" href="@Url.Action("Index", "Manage")">CAMBIAR CONTRASEÑA</a>
                        </div>
                    </li>
                }


                @if (User.IsInRole("Client"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link text-body" href="@Url.Action("Index","Home")">INICIO</a>
                            <a class="nav-link text-body" href="@Url.Action("Index", "Manage")">CAMBIAR CONTRASEÑA</a>
                        </div>
                    </li>

                }



            </ul>
        </div>


    </nav>
    @RenderBody()
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" style="background-color:black;" id="mainNav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <div style="margin-left:225px">

                <a href="@Url.Action("Contact", "Home")">
                    <div class="chip m-3 text-dark">
                        <img src="~/Content/img/ojos.jpg" alt="Person" width="96" height="96">
                        CONTACTO
                    </div>
                </a>
                <a href="@Url.Action("About", "Home")">
                    <div class="chip m-3 text-dark">
                        <img src="~/Content/img/labios.jpg" alt="Person" width="96" height="96">
                        NOSOTROS
                    </div>
                </a>
                @if (User.IsInRole("Client"))
                {
                    <a href="@Url.Action("Consejos", "Home")">
                        <div class="chip m-3 text-dark">
                            <img src="~/Content/img/icono.jpg" alt="Person" width="96" height="96">
                            TIPS BELLEZA
                        </div>
                    </a>
                }

                <a href="@Url.Action("Reseñas", "Home")">
                    <div class="chip m-3 text-dark">
                        <img src="~/Content/img/reseña.png" alt="Person" width="96" height="96">
                        RESEÑAS
                    </div>
                </a>
            </div>
        </div>

    </nav>



    <div class="bg-danger">
        <section class="copyright py-2 text-center text-white " style="background-color:maroon;">
            <p class="text-center mb-5" style="margin-left:190px">
                Copyright&copy; @DateTime.Now.Year - Abrego Morales-Rubio Parra -  Proyecto Final

                <a class="float-right m-1" href="https://www.facebook.com"><img src="~/Content/img/f.png" alt="facebook" width="35" height="35"></a>
                <a class="float-right m-1" href="https://www.twitter.com"><img src="~/Content/img/t.png" alt="twitter" width="30" height="30"></a>
                <a class="float-right m-1" href="https://www.web.whatsapp.com"><img src="~/Content/img/w.png" alt="whatsapp" width="30" height="30"></a>
                <a class="float-right m-1" href="https://www.whatsapp.com"><img src="~/Content/img/i.png" alt="instagram" width="30" height="30"></a>
            </p>
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

</body>
</html>
