<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/icono.png" />
    <title>@ViewBag.Title MAKE UP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 bg-danger" id="mainNav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Principal")">INICIO</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "MaquillajeOjos")">MAQUILLAJE PARA OJOS</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "MaquillajeLabios")">MAQUILLAJE PARA LABIOS</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Index", "MaquillajeRostro")">MAQUILLAJE PARA ROSTROS</a>
                </li>
                @Html.Partial("_LoginPartial")

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link text-body" href="@Url.Action("Index", "Users")">USUARIOS</a>
                            <a class="nav-link text-body" href="@Url.Action("Index", "Products")">PRODUCTOS</a>
                            <a class="nav-link text-body" href="@Url.Action("Index", "Suppliers")">PROVEEDORES</a>
                            <a class="nav-link text-body" href="@Url.Action("Index", "Manage")">CAMBIAR CONTRASEÑA</a>
                        </div>
                    </li>
                }


                @if (User.IsInRole("Client"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link text-body" href="@Url.Action("Index","Home")">INICIO</a>
                            <a class="nav-link text-body" href="@Url.Action("Edit","Clients")">USUARIO</a>
                            <a class="nav-link text-body" href="@Url.Action("Index", "Manage")">CAMBIAR CONTRASEÑA</a>
                        </div>
                    </li>

                }



            </ul>
        </div>


    </nav>
    @RenderBody()
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 bg-dark" id="mainNav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Contact", "Home")">CONTACTO</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("About", "Home")">NOSOTROS</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-white" href="@Url.Action("Consejos","Home")">CONSEJOS</a>
                </li>

            </ul>

        </div>

    </nav>



    <div class="bg-danger">
        <section class="copyright bg-danger py-2 text-center text-white ">
            <p class="text-center mb-5">
                Copyright&copy; @DateTime.Now.Year -Maquillaje- Proyecto Final 2020

                <a class="float-right" href="https://www.facebook.com"><img src="~/Content/img/f.png" alt="facebook" width="30" height="30"></a>
                <a class="float-right" href="https://www.twitter.com"><img src="~/Content/img/t.png" alt="twitter" width="30" height="30"></a>
                <a class="float-right" href="https://www.web.whatsapp.com"><img src="~/Content/img/w.png" alt="whatsapp" width="30" height="30"></a>
                <a class="float-right" href="https://www.whatsapp.com"><img src="~/Content/img/i.png" alt="instagram" width="30" height="30"></a>
            </p>
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
