@model Maquillaje.Web.Models.Supplier

@{
    ViewBag.Title = "Delete";
}

<div class="row col-12 justify-content-center ">
    <div class="col-md-6">
        <div class="card mb-6">
            <div class="card-header py-2 bg-primary">
                <h4 class="text-center m-0 text-white">@Model.SupplierName</h4>
            </div>
            <div class="card-body bg-white ">
                <div class="card-header py-2 bg-white">
                    <h5 class="text-center text-body">¿Eliminar Datos?</h5>
                </div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SupplierCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SupplierCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SupplierName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SupplierName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a href="@Url.Action("Index", "Suppliers")" class="btn btn btn-danger">Regresar</a>
            </div>
                }
            </div>
        </div>
    </div>
</div>