@model IEnumerable<Maquillaje.Web.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<div class="row justify-content-center m-3">
    <h4 class="m-0 text-dark"> LISTADO DE PROVEEDORES</h4>

</div>
<div id="Principal">
    <p class="m-4">
        <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">
            <span class="icon btn-icon-split text-white-50"><i class="fas fa-plus"></i></span>
            <span class="text">Agregar proveedor</span>
        </a>
    </p>
    <div id="ContenedorDeMascotas">
        <div class="row justify-content-center m-3">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-md-6 mb-4">
                    <a href="@Url.Action("Details","Suppliers", new { id = item.Id })">

                        <div class="card border-left-primary shadow h-100 py-2 bg-dark">
                            <div class="card-body bg-primary">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs  text-white text-uppercase mb-1">@item.SupplierCode</div>
                                        <div class="h5 mb-0 font-weight-bold text-white">@item.SupplierName</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-briefcase fa-2x text-white"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            }


        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-title bg-danger">
                <h6 class="text-center text-white">Nuevo Proveedor</h6>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Create","Suppliers")" method="post" new { enctype="multipart/form-data" }>
                    @Html.AntiForgeryToken()
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-6">Codigo de proveedor</label>
                                <div class="col-md-10">
                                    <input type="number" name="SupplierCode" value="" placeholder="Código" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-6">Nombre</label>
                                <div class="col-md-10">
                                    <input type="text" name="SupplierName" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2">Correo Electrónico</label>
                                <div class="col-md-10">
                                    <input type="text" name="Email" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-6">Teléfono</label>
                                <div class="col-md-10">
                                    <input type="text" name="Phone" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-info" value="Crear" />
                            <a href="@Url.Action("Index", "Home")" class="btn btn btn-danger">Regresar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


