@model Maquillaje.Web.Models.Product

@{
    ViewBag.Title = "Details";
}
<div class="row col-12 justify-content-center ">
    <div class="col-md-6">
        <div class="card mb-4 m-3">
            <div class="card-header py-2 bg-light text-center">
                <h2>Detalles</h2>
                <h4 class="text-center text-white">@Model.ProductName</h4>
            </div>
            <div class="card-body  bg-danger">
                <table class="table table-sm text-white">
                    <tr>
                        <td>Código:</td>
                        <td>@Model.ProductCode</td>
                    </tr>
                    <tr>
                        <td>Producto:</td>
                        <td>@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Descripción:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Precio:</td>
                        <td>$@Model.Price</td>
                    </tr>

                </table>

            </div>
        </div>

    </div>
</div>


<p class="col-md-3">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
    @Html.ActionLink("Regresar", "Index", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm" })

</p>
