@model Maquillaje.Web.Models.Product

@{
    ViewBag.Title = "Details";
}
<div class="row col-12 justify-content-center ">
    <div class="col-md-6">
        <div class="card mb-4 m-3">
            <div class="card-header py-2 bg-primary">
                <h2>Detalles</h2>
                <h4 class="text-center m-0 text-white">@Model.Supplier</h4>
            </div>
            <div class="card-body bg-dark ">
                <table class="table table-sm text-white">
                    <tr>
                        <td>Código:</td>
                        <td>@Model.ProductCode</td>
                    </tr>
                    <tr>
                        <td>Proveedor:</td>
                        <td>@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Descripción:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Precio:</td>
                        <td>@Model.Price</td>
                    </tr>

                </table>

            </div>
        </div>

    </div>
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
